

<div class="wrapper">
    <div class="container">
        <h1 class="text-center sectitle m-3"> <span class="underlined underline-mask">Categories<span class="wow">!</span></span></h1>
      <div class="my-2 ">
        <ng-container *ngIf="category$ | async as categories">
          <div class="slider">
            <!-- Slides Container -->
            <div class="slides" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
              <div *ngFor="let category of categories; let i = index" class="slide">
                <!-- Category Item -->
                <div class="ag-courses_item" (click)="jaja(category.id)" [routerLink]="['/categories/blogs', category.id]">
                  <!-- Category Link and Background -->
                  <div class="ag-courses-item_link">
                      <div class="ag-courses-item_bg" [style.background]=" ">
                      </div>

                    <div class="ag-courses-item_title">{{ category.name }}</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Arrows for Navigation -->
            <div class="arrow left-arrow" (click)="moveSlide(-1)">&#10094;</div>
            <div class="arrow right-arrow" (click)="moveSlide(1)">&#10095;</div>
            <!-- Navigation Buttons -->
            <div class="nav-buttons">
              <span *ngFor="let category of categories; let i = index"
                    class="nav-button"
                    [class.active]="i === currentIndex"
                    (click)="setSlide(i)"></span>
            </div>
          </div>
        </ng-container>
        </div>
    </div>
    <div class=" d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-center"><a class="d-flex justify-content-center align-content-center m-5 btn linkcategory" [routerLink]="['/categories/all']">All Categories</a></div>
    </div>
</div>


