nav{
    background: linear-gradient(90deg, rgba(3,2,17,1) 7%, rgba(58,3,94,1) 76%);
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, .9) 0px 5px 15px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

nav li a{
    background: linear-gradient(to bottom right, #d4d0d0 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

nav a{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.logoname{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    background: linear-gradient(to bottom right, #630101 0%, #ac93ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-item:hover{
    background-color: #332644;
}

.dropdown-menu {
    max-height: 400px; /* Adjust the max-height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

  .mail{
    background: linear-gradient(to bottom right, #d4d0d0 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }

  .vr{
    background: #fff;
    width: 2px;
  }

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 1);
    border-radius: 10px;
  }  