

.container{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.card{
  width: 25rem;
  height: 30rem;
  position: relative;
  cursor: pointer;
  top: -10%;
  border-radius: 10px;
}

.cardmarg{
  margin-right: 3rem;
  font-family: 'Poppins', sans-serif;
}

.card h1{
  font-size: 1.5rem;
}

.content hr{
  width: 90%;
  margin: 0 auto;
  border: 1px solid white;
  margin-bottom: 1rem;
}

.card .content{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.089);
  backdrop-filter: blur(10px);
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 5);
  transition: all 0.5s;
  position: relative;
  z-index: 2;
}

.card .content p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
}

.card:hover .content {
  color: rgb(36, 36, 36);
}


.card:hover .content hr {
  border: 1px solid rgb(36, 36, 36);
}

.card::before,
.card::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  background: #7f00f7;
  z-index: 0;
  transition: all 0.5s;
  border-radius: 10px;
}

.card::before{
  top: 0;
  right: 0;
}

.card::after{
  bottom: 0;
  left: 0;
  background: #E100FF;
  z-index: 0;
  border-radius: 10px;
}

.card:hover::before{
  width: 5rem;
  height: 5rem;
  transform: translate(2rem, -2rem);
  border-radius: 50%;

}

.card:hover::after{
  width: 10rem;
  height: 10rem;
  transform: translate(-2rem, 2rem);
  border-radius: 50%;

}

.clickhand{
  position: absolute;
}



.clickhand path {
  transform-origin: center;
  animation: arrow 0.8s alternate infinite ease-in-out;
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(10px); /* Adjust the Y translation to move it down */
  }
}






@media (min-width: 64.063em) and (max-width: 75em){
  .clickhand{
    z-index: 2;
    position: absolute;
    top: 80%;
    right: 80%;
    transform: translate(50%, 0);
    height: 4em;
    width: 4em;
  }
}

@media (min-width: 75em) and (max-width: 100em){
  .clickhand{
    z-index: 2;
    position: absolute;
    top: 80%;
    right: 85%;
    transform: translate(50%, 0);
    height: 4em;
    width: 4em;
  }
}

@media (min-width: 43.76em) and (max-width: 61.938em){
  .clickhand{
    z-index: 2;
    position: relative;
    top: 80%;
    right: 80%;
    transform: translate(50%, 0);
    height: 4em;
    width: 4em;
    position: absolute;
  }
}


@media (min-width: 1.6875em) and (max-width: 43.75em) {
  .container{
    flex-direction: column;
    align-items: center;
    height: 80vh;
    animation: fade linear;
    animation-timeline: scroll();
    animation-duration: 1s;
    transform: translateY(-50px);
    margin-bottom: 4rem;
  }

  @keyframes fade {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    1%{
      opacity: 0.5;
      transform: translateY(-5px);}
    1.5%{
      opacity: 1;
      transform: translateY(5px);
    }
  }

  .clickhand{
    z-index: 2;
    position: relative;
    top: -450%;
    right: 90%;
    rotate: 120deg;
    transform: translate(50%, 0);
  }

  .card{
    min-width: 20rem;
    min-height: 25rem;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
  }


  .cardmarg{
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .card h1{
    font-size: 1.5rem;
  }

  .card:hover::before{
    width: 5rem;
    height: 5rem;
    transform: translate(1rem, -1rem);
    border-radius: 50%;
  
  }
  
  .card:hover::after{
    width: 10rem;
    height: 10rem;
    transform: translate(-1rem, 1rem);
    border-radius: 50%;
  
  }
}

@media (min-width: 43.75em) and (max-width: 50.062em) {

  .container{
    animation: fade linear;
    animation-timeline: scroll();
    animation-duration: 1s;
    transform: translateY(-200px);
  }

  @keyframes fade {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    1%{
      opacity: 0.5;
      transform: translateY(-5px);}
    1.5%{
      opacity: 1;
      transform: translateY(5px);
    }
  }


}

@media (min-width: 50.063em) and (max-width: 161.938em) {

  .container{
    animation: fade linear;
    animation-timeline: scroll();
    animation-duration: 1s;
    transform: translateY(-400px);
    height: 40vh;

  }

  @keyframes fade {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    1%{
      opacity: 0.5;
      transform: translateY(-5px);}
    1.5%{
      opacity: 1;
      transform: translateY(5px);
    }
  }

}