<div class="container">
    <div class="row justify-content-center align-items-center mt-4">
      <div class="col-12">
        <div class="card text-white">
          <div class="card-body d-flex flex-column">
            <div class="m-3 d-flex justify-content-center">
                <svg width="36" height="36" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                    <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
                  </svg>
            </div>
            <h1 class="card-title text-center">Login</h1>
            <hr>
            <form (ngSubmit)="onFormSubmit()" class="needs-validation" novalidate>
              <div class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email" required>
                <div class="invalid-feedback">
                  Please enter a valid email.
                </div>
              </div>
              <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" required>
                <div class="invalid-feedback">
                  Please enter your password.
                </div>
              </div>
              <div class="d-grid mt-4 mb-4">
                <button type="submit" class="btn btn-primary loginbtn">Login</button>
              </div>
              <div class="linksection">
                <p>
                  No Account yet?
                  <a [routerLink]="['/register']" class="link-opacity-50 links">Register!</a> <br>  <br>
                  Forgot your Password?
                  <a [routerLink]="['/forgot-password']" class="link-opacity-50 links">Reset Password!</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  