<section class="dark">
    
        <div class="container py-1">
            <h1 class="h1 text-center" id="pageHeaderTitle">Trending Articles</h1>
            <hr>
            <ng-container *ngIf="blogPosts$ && blogPosts$.length > 0">
                <article class="postcard dark blue" (click)="naviToArticles(blogPosts$[1].urlHandle)">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img"  [src]="blogPosts$[1].featuredImageUrl || 'assets/images/pexels-photo-3342739.jpeg'" alt="Image Title" />
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title blue"><a href="#">{{ blogPosts$[1].title }}</a></h1>
                        <div class="postcard__subtitle small">
                            <time >
                                <i class="fas fa-calendar-alt mr-2"></i> {{ blogPosts$[1].publishedDate | date }}
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">{{ blogPosts$[1].shortDescription }}</div>
                        <ul class="postcard__tagbox">
                            <a  class=" btn btn-primary">Read More</a>
                        </ul>
                    </div>
                </article>
                <article class="postcard dark red" (click)="naviToArticles(blogPosts$[3].urlHandle)">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img"  [src]="blogPosts$[3].featuredImageUrl || 'assets/images/pexels-photo-3342739.jpeg'" alt="Image Title" />
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title blue"><a href="#">{{ blogPosts$[3].title }}</a></h1>
                        <div class="postcard__subtitle small">
                            <time >
                                <i class="fas fa-calendar-alt mr-2"></i> {{ blogPosts$[3].publishedDate | date }}
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">{{ blogPosts$[3].shortDescription }}</div>
                        <ul class="postcard__tagbox">
                            <a  class=" btn btn-primary" style="z-index: 2;">Read More</a>
                        </ul>
                    </div>
                </article>
                <article class="postcard dark green" (click)="naviToArticles(blogPosts$[4].urlHandle)">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img"  [src]="blogPosts$[4].featuredImageUrl || 'assets/images/pexels-photo-3342739.jpeg'" alt="Image Title" />
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title blue"><a href="#">{{ blogPosts$[4].title }}</a></h1>
                        <div class="postcard__subtitle small">
                            <time >
                                <i class="fas fa-calendar-alt mr-2"></i> {{ blogPosts$[4].publishedDate | date }}
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">{{ blogPosts$[4].shortDescription }}</div>
                        <ul class="postcard__tagbox">
                            <a  class=" btn btn-primary" style="z-index: 2;">Read More</a>
                        </ul>
                    </div>
                </article>
    
                <article class="postcard dark yellow" (click)="naviToArticles(blogPosts$[5].urlHandle)">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img"  [src]="blogPosts$[5].featuredImageUrl || 'assets/images/pexels-photo-3342739.jpeg'" alt="Image Title" />
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title blue"><a href="#">{{ blogPosts$[5].title }}</a></h1>
                        <div class="postcard__subtitle small">
                            <time >
                                <i class="fas fa-calendar-alt mr-2"></i> {{ blogPosts$[5].publishedDate | date }}
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">{{ blogPosts$[5].shortDescription }}</div>
                        <ul class="postcard__tagbox">
                            <a  class=" btn btn-primary" style="z-index: 2;">Read More</a>
                        </ul>
                    </div>
                </article>
            </ng-container>
        </div>
</section>
