

    <div class="container">
        <div class="wrapper">
            <div class="blogpost">
                <div class="blogpost__img">
                    <img src="assets/images/about_img1.png" alt="">
                </div>
                <div class="blogpost__info">
                    <div class="blogpost__date">
                        <span>May, 18 2023</span>
                    </div>
                    <h1 class="blogpost__title"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </h1>
                    <p class="blogpost__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. </p>
                    <a href="#" class="blogpost__cta"> Read More </a>
                </div>
            </div>
        </div>
    </div>


