td:hover{
    background-color: #130020;
    color: #ffffff;
    border: none;
    box-shadow: 0 0.2em 0.5em rgba(0,0,0,0.5);
    font-weight: 500;
}

.container{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: #ffffff;

}

tr a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3rem;
}

.addblog{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
}

.badge{
    font-size: 1.2rem;
    margin: 0.1em 0.1em;
}

@media screen and (max-width: 992px) {
    .table td:nth-child(3),
    .table th:nth-child(3) {
      max-width: 150px; /* Adjust the width as needed */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .table td:nth-child(2),
    .table th:nth-child(2) {
      max-width: 150px; /* Adjust the width as needed */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  