

  .wrapper{
    border-bottom: 1px solid #000;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #020202;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    z-index: 400;
    width: 100%;
  }


  .hero-content {
    width: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    margin-right: 10%;
    position: relative;
    top: -25%;
  }

  .hero h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: .3rem;
    font-size: 2.7rem;
    margin-bottom: 1.5rem;
    text-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
    font-weight: 700;
/*     background: linear-gradient(to bottom right, #630101 0%, #ac93ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #CFBEBE;
    position: relative;
    top: 40%;
  }

  .wow {
    color: #7D365E;
    font-size: 4rem;
    font-weight: 500;
  }
  
  .underlined {
    /*   background: red; */
      position: relative;
    }
    
    .underline-mask:after {
      content: '';
      position: absolute;
      top: 90%;
      width: 150%;
      aspect-ratio: 3 / 1;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 50%;
      border: 4px solid #7D365E;
      /* Use a conic gradient mask to hide and show the bits you want */
      --spread: 140deg;
      --start: 290deg;
      mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
    }



  .hero-name{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #4b3633;
  }

  .hero p {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    letter-spacing: 2px;
    background: linear-gradient(to bottom right, #CFBEBE 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0.2em 0.2em 0.2em rgba(0, 0 ,0, 0.6);
  }





  @keyframes fadein{
    0%{opacity: 0;}
    50%{opacity: 0.4;}
    100%{opacity: 1;}
  }

  .line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
  }

  /* Animation */
  .codetype{
    color: #fff;
    z-index: 1;
    position: relative;
    top: 35%;  
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 4s steps(44) 2.5s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal;
  }

  .keyword {
    color: #C586C0;
  }
  .variable {
    color: #9CDCFE;
  }
  .function {
    color: #DCDCAA;
  }
  .parameter {
    color: #4EC9B0;
  }
  .comment {
    color: #6A9955;
  }
  .number {
    color: #B5CEA8;
  }
  @keyframes typewriter{
    from{
      opacity: 0;
      width: 0em;
    }
    to{width: 29em;
      opacity: 1;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: #FFFFFF;}
    to{border-right-color: #FFFFFF;}
  }

  .glasscard{
    position: relative;
    left: 80%;
    width: 20em;
    height: 20em;
  }

  .terminal{
    position: relative;
    top: 50%; 
    right: 5%; 
    width: 22em;  
    height: 24em;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-150%);
    animation: back linear 1s forwards;

  }


  @keyframes back{
    0%{transform: translateY(-150%);}
    100%{transform: translateY(-75%);}
  }


  hr{
    border: 0;
    height: 1px;
    background: #f8f6f6;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }


  .line-1{
    position: relative;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateX(-1%);    
  }

  .glow-on-hover {
      width: 220px;
      height: 50px;
      border: 1px solid #fff;
      border-radius: 30px;
      color: #fff;
      cursor: pointer;
      position: relative;
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 20px 10px rgba(0, 0, 0, 0.9);
      font-size: 1.5rem;
      font-family: 'Poppins', sans-serif;
  }

  .glow-on-hover:hover{
    scale: 1.1;
    box-shadow: none;
  }

  .glow-on-hover:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left:-2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 30px;
    }

  .glow-on-hover:active {
      color: #000;
  }

  .glow-on-hover:active:after {
      background: transparent;
  }

  .glow-on-hover:hover:before {
      opacity: 1;
  }

  .glow-on-hover:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 10px;
  }

  @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
  }

  /* Animation */
  .anim-typewriter{
    animation: typewriter 2s steps(44) 1s 1 normal both,
              blinkTextCursor 500ms steps(44) normal;
  }

  .herogrid{
    width: 12em;
    height: 12em;
  }




  @keyframes typewriter{
    from{width: 0em}
    to{width: 29.5em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  .arrow-down{
    display: none;
    left: 50%;
    transform: translateX(-50%);
  }




  /*Media Queries*/

  /*xs  27px - 475px*/
  @media (min-width: 1.6875em) and (max-width: 50em) {

    html,body{
      overflow-x: hidden;
      height: 100%;
      margin: 0;
    }

    .wrapper{
      height: 80vh; 
      margin: 0 auto;
      width: 100%; 
    }



    .glasscard {
      display: none;
    }


    .hero-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: .9rem;
      text-align: center;
      position: relative;
    }

    .hero h1{
      margin-top: 40%;
      font-size: 3.5rem;
    }

    .hero p{
    display: none; 
  }

  .arrow-down {
    display: block;
    width: 60px;
    height: 40px;
    position: absolute;
    left: 53%; /* Center horizontally */
    top: 110%; /* Align to bottom */
    transform: translateX(-50%); /* Move to center */
    animation: arrow 0.5s 1s infinite ease-out alternate;
  }

  .arrow-down:hover{
    animation-play-state: paused;
  }

  .left{
    position:absolute;
    height:10px;
    width:40px;
    background:rgb(255, 255, 255);
    transform:rotate(240deg);
    top:10px;
    left:10px;
    border-radius:4px;
    transform-origin:5px 50%;
    animation: leftArrow 0.5s 1s infinite ease-out alternate;
  }

  .right{
    position:absolute;
    height:10px;
    width:40px;
    background:rgb(255, 255, 255);
    transform:rotate(-60deg);
    top:10px;
    left:10px;
    border-radius:4px;
    transform-origin:5px 50%;
    animation: rightArrow 0.5s 1s infinite ease-out alternate;
  }

  .glow-on-hover{
    font-size: 1.7rem;
  }




  @keyframes arrow{
    0% {
      bottom:0px;
    }
    100%{
      bottom:40px;
    }
  }


  @keyframes leftArrow{
    0% {
    }
    100%{
      transform:rotate(225deg);
    }
  }

  @keyframes rightArrow{
    0% {
    }
    100%{
      transform:rotate(-45deg);
    }
  }


}


@media (min-width: 50em) and (max-width: 62.062em) {

  .glasscard{
    display: none;
  }


  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    text-align: center;
    position: relative;
  }

  .hero h1{
    margin-top: 40%;
    font-size: 3.5rem;
  }

  .hero p{
    font-size: 2rem;
  }

  .arrow{
    left: 20%;
    height: 40em;
    width: 65em;
  }

  .glow-on-hover{
    font-size: 1.7rem;
  }
  
  
}

@media (min-width: 61.062em) and (max-width: 75em) {



  .hero-content{
    margin: 0;
    padding: 0;
  }

  .terminal{
    left: -10%;
    top: 40%;
    height: 20em;
    width: 20em;
  }

  .codetype{
    left: 0%;
    top: 0%;
    font-size: 1.4rem
    
  }

  .hero h1{
    font-size: 3.5rem;
  }

  .hero p{
    font-size: 1.5rem;
  }

}

@media (min-width: 75em) and (max-width: 110em) {

  .terminal{
    left: 0%;
    top: 40%;
    width: 25em;
    height: 20em; 
  }

  .codetype{
    top: 0%;
    left: 10%;
  }

  .hero h1{
    font-size: 3.5rem;
  }

  .hero p{
    font-size: 2rem;
  }

}



