<div class="wrapper">
    <div class="container">
    
        <div class = "about-wrapper">
          <div class = "about-left">
            <div class = "about-left-content">
              <div>
                <div class = "shadow">
                  <div class = "about-img">
                    <img src = "https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" alt = "about image">
                  </div>
                </div>
    
                <h2>Walid Boulhazayez</h2>
                <h3>Learning Web Development</h3>
              </div>
    
              <ul class = "icons">
                <li><i class = "fab fa-linkedin"></i></li>
                <li><i class = "fab fa-github"></i></li>
              </ul>
            </div>
    
          </div>
    
          <div class = "about-right">
        

    
            <div class = "about-para">
                <h1>Hello<span>!</span></h1>
                <h2>Here's who I am & what I do</h2>
              <p>This blog is my
                inaugural venture into the world of full-stack development, and while it's
                built on a foundation of Angular and .NET Core MVC API, my gaze is set far
                and wide on the vast horizon of web development topics</p>
              <p>My mission is to simplify the complex, turning the intimidating world of coding into a series of manageable,
                understandable steps. Whether you're grappling with front-end aesthetics or
                wrestling with back-end logic, our content is designed to guide you through.
                As a new developer, I am walking the path of discovery and innovation
                alongside you. Each post reflects a part of this journey, capturing the trials
                and triumphs of navigating the coding landscape.!</p>
            </div>
            <div class="credit">Contact Me with: <a href="https://www.learningrobo.com/">My LinkedIn</a></div>
          </div>
        </div>
    
    </div>
</div>




<!-- Welcome to WebPulse, a digital space dedicated to unraveling the world of web
development for enthusiasts and budding developers alike. This blog is my
inaugural venture into the world of full-stack development, and while it's
built on a foundation of Angular and .NET Core MVC API, our gaze is set far
and wide on the vast horizon of web development topics. Here, you'll find a
diverse array of content ranging from step-by-step guides to insightful
articles on various technologies and trends.

Our mission is to simplify the complex, turning the intimidating world of coding into a series of manageable,
understandable steps. Whether you're grappling with front-end aesthetics or
wrestling with back-end logic, our content is designed to guide you through.
As a new developer, I am walking the path of discovery and innovation
alongside you. Each post reflects a part of this journey, capturing the trials
and triumphs of navigating the coding landscape.

Our content is more than just instructional; it's a testament to the learning process, highlighting both
successes and learning moments. What sets WebPulse apart is our commitment to
clarity, practicality, and diversity in topics. We believe that understanding
the essence of web development extends beyond any single technology or trend.
It's about a mindset of continuous learning, adaptability, and the clear
communication of ideas. Here, every article is an opportunity to learn
something new, to simplify the seemingly complex, and to make the world of web
development a little more accessible to everyone.

Join us at WebPulse as we embark on this coding adventure. Explore with us, learn with us, and grow with
us. Together, we'll decipher the code one line at a time, expanding our skills
and understanding with every post. Welcome to the journey; welcome to our
community of learning and growth. -->