<div class="container">
    <div class="my-3">
        <div class="grid-container">
            <ng-container *ngIf="categoryBlog && categoryBlog.length > 0; else nothing">
                <div *ngFor="let blog of categoryBlog" class="grid-item">
                    <div class="card h-100 border-0 m-2"
                    (click)="NaviToBlog(blog.urlHandle)"
                        style="cursor: pointer;"
                        [ngClass]="{'disabled-blog': !blog.isVisible && user == undefined}"
                        style="cursor: pointer;">

                        <img [src]="blog.featuredImageUrl || 'assets/pexels-photo-3342739.jpeg'" class="card-img-top" alt="{{blog.title}}"
                        [ngStyle]="!blog.isVisible && user == undefined
                                   ? {'filter': 'blur(20px)', 'background-color': 'rgba(0,0,0,0.8)'}
                                   : {'filter': 'none', 'background-color': 'rgba(0,0,0,0)'}">
                   

                        <ng-container *ngIf="!blog.isVisible && user == undefined">
                            <div class="overlay-text text-white d-flex flex-column ">
                                <!-- Overlay content -->
                                <p>For Members Only</p>
                                <!-- Icon or additional content -->
                                <svg class="bi bi-lock lockedIcon" viewBox="0 0 16 16 " >
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
                                  </svg>
                            </div>
                        </ng-container>

                        <div class="card-body d-flex flex-column bg-dark">
                            <h5 class="card-title" style="color: #fff;">
                                {{blog.title}}
                            </h5>
                            <p class="card-text" style="color: #fff;">
                                {{blog.shortDescription}}
                            </p>
                            <span class="d-flex align-items-end" style="flex:1">
                                <a [routerLink]="['/blog', blog.urlHandle]" class="btn btn-primary">Read More</a>
                            </span>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- ng-template for the 'nothing' case -->
            <ng-template #nothing>
                <div class="overlay-text text-white d-flex justify-content-center ">
                    <p>No articles yet</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>
