<div class="container mt-5">
    <div class="row justify-content-center align-items-center mt-4">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card text-white">
          <div class="card-body d-flex flex-column">
            <div class="m-3 d-flex justify-content-center">
                <svg width="41" height="41" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
            </div>
            <h1 class="card-title text-center">Reset Password</h1>
            <hr>
            <form (ngSubmit)="onFormSubmit()" class="needs-validation" novalidate>
              <div class="mb-2">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" required>
                <div class="invalid-feedback">
                  Please enter your password.
                </div>
              </div>
              <div class="mb-2">
                <label for="passwordConfirmed" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="passwordConfirmed" name="passwordConfirmed" [(ngModel)]="model.confirmPassword" required>
                <div class="invalid-feedback">
                  Please confirm your password.
                </div>
                <ng-container *ngIf="model.password !== model.confirmPassword" class="mt-3">
                    <div class="text-danger">Passwords do not match!</div>
                  </ng-container>
              </div>
              <div class="d-grid mt-4 mb-4 ">
                <button type="submit" class="btn btn-primary registerbtn ">Reset Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
