img{
    box-shadow: 0.8em 0.8em 0.9em rgba(0,0,0.5,0.8);
    border-radius: 10px;
    object-fit: cover;
}

.blog-content{
    color: #d4caca;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-shadow: 0.2em 0.2em 0.2em rgba(0, 0 ,0, 0.6);
    line-height: 1.75;
    text-align: justify;

}

.blog-content::ng-deep img{
    box-shadow: 0.8em 0.8em 0.9em rgba(0,0,0.5,0.8);
    border-radius: 10px;
    object-fit: cover;
    max-width: 100%;
}


.mark{
    background-color: #ffffff;
}

.titleblog{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    background: linear-gradient(to bottom right, #c9c9c9 0%, #c561ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-shadow: 0.2em 0.2em 0.2em rgba(0, 0 ,0, 0.6);

}


.dateauthor{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    background: linear-gradient(to bottom right, #CFBEBE 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-shadow: 0.2em 0.2em 0.2em rgba(0, 0 ,0, 0.6);
}

.badgess{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    border: 1px solid #1b1616;
    color: linear-gradient(to bottom right, #CFBEBE 0%, #FFFFFF 100%);
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
} 



