.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.grid-item {
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  background-clip: padding-box;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.9);
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 5px 3px rgba(167, 138, 190, 0.9);
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.8);
  z-index: 2;
  border-radius: 20px;
}

.overlay {
  color: white;
  text-align: center;
}

.lockedIcon {
  fill: #ffffff;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto;
}

.card-body {
  color: #e2e2e2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(36,29,51,1) 100%);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}
.card-title {
  font-size: 1.25rem;
  background: linear-gradient(to bottom right, #dabdbd 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  margin: 0;
  padding: 0;
  margin-bottom: 0.4em;
}

.card-text {
  background: linear-gradient(to bottom right, #dabdbd 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;    font-size: 0.9rem;
  line-height: 1.2; /* Set your line height */
  height: auto; /* Let the height be determined by content up to a point */
  max-height: 3.6em; /* 3 lines of text, for example, adjust as necessary */
  overflow: hidden;
  position: relative;
  padding-right: 1em
}

.card-text::after {
  content: '...';
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom right, #dabdbd 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.btn-outline-light {
  font-family: 'Poppins', sans-serif;
  padding: 8px 15px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: .9rem;
  transition: background-color 0.25s, color 0.25s;
  background: linear-gradient(to bottom right, #630101 0%, #ac93ff 100%);
}

.btn-outline-light:hover {
  color: #ffffff;
  background: linear-gradient(to bottom right, #ac93ff 0%, #630101 100%);
}

.disabled-blog {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
