.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  background-clip: padding-box;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.9);

}


.card:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 5px 3px rgba(167, 138, 190, 0.9);
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.overlay-text {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

.lockedIcon {
  fill: #000000;
  width: 50px;
  height: 50px;
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(36,29,51,1) 100%);
}

.card-title {
  font-size: 1.2rem;
  color: #e2e2e2;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  color: #e2e2e2;
  flex-grow: 1;
  overflow: hidden;
}

.btn-outline-light {
  padding: 8px 15px;
  color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  transition: background-color 0.25s, color 0.25s;
}

.btn-outline-light:hover {
  color: #fff;
  background-color: #3897f0;
}

.disabled-blog {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
