<div class="container">
    <div class="my-5">
        <div class="row align-items-sm-stretch">
            <ng-container *ngIf="blogs$ | async as blogs">
                <div class="col-12 col-md-4 mb-3" *ngFor="let blog of blogs">
                    <div (click)="NaviToBlog(blog.urlHandle)" class="card h-100 border-0 " style="box-shadow: rgba(0, 0.5, 0.35, 0.35) 6px 6px 15px;cursor: pointer;">
                        <img [src]="blog.featuredImageUrl" class="card-img-top" alt="blog.title">
                        <div class="card-body d-flex flex-column bg-dark">
                            <h5 class="card-title" style="color: #fff;">
                                {{blog.title}}
                            </h5>
                            <p class="card-text" style="color: #fff;">
                                {{blog.shortDescription}}
                            </p>
                            <span class="d-flex align-items-end" style="flex:1">
                                <a [routerLink]="['/blog', blog.urlHandle]" class="btn btn-primary">Read More</a>
                            </span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
