/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #302e2e;
}


.images-container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 3em;
    left: 0;
    z-index: 10;
    padding: 5em;
    background-color: rgba(0,0,0,0.5);
}

 .btn-primary{
    background-color: #c184e9;
    color: #000;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.5em rgba(0,0,0,0.5);
    font-weight: 500;
    
}

.btn-primary:hover{
    background-color: #a16dd8;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.5em rgba(0,0,0,0.5);
}
